<Section class="text-center">
  
  <h3 class="mb-4 mt-5">To-Do List</h3>

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-lg-6">

        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="To-Do Point" aria-label="To-Do Point" aria-describedby="button-addon2" [(ngModel)]="newTodo">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="saveTodo()">Add To-Do</button>
        </div>

        <table class="table table-dark table-striped">
          <tbody>
            <tr *ngFor="let todo of todos;let i = index;">
              <th scope="row">{{ i + 1}}</th>
              <td class="{{(!todo.isCompleted)?'done':''}}" (click)="done(i)">{{ todo.name }}</td>
              <td class="close" (click)="remove(i)">X</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</Section>